.footer{
    
    
    padding:30px 30px 30px 30px;
    background-image: url("./servicesImages/windmill.jpg");
    background-size: cover;
    mask-repeat: no-repeat;
    width:"fit-content";

    /* animation:changeBackground;
    animation-duration: 20s;
    animation-iteration-count: infinite; */
    height:800px;

   
}


.footer-decorator{
    display:flex;
    flex-wrap: wrap;
    width:180px;
   
    padding:12px 12px 12px 12px;
   
}

.upperSection{
  background: rgb(104, 144, 110);
  margin-right: 20px;
    height:20px;
    width:20px;
    /* border-bottom-style: groove; */
    opacity:0.9;
    appearance:calc(0.9) ;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
   
    border-left:none;
    margin-top: 10px;
    /* border-radius: 50%; */
}


.container{
    display:inline-flex;
    flex-wrap: wrap;
    /* height:400px; */

    padding-left: 20px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    margin-right: 0;
    background-color: rgb(7, 43, 17);
    opacity:0.8;
   
    /* background-image: url("./servicesImages/barley.jpg");
    background-size: cover;
    mask-repeat: no-repeat;
    border-radius: 20px; */
    /* filter:grayscale(80%) */
   
}

.icon-container{

    background: rgb(3, 59, 50);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    height: 80px;
    width:80px;
    border-radius: 50%;
    /* transform:translate(0,-50%); */

    
}
.bn{
    color:rgb(240, 240, 201)
}


.phoneNumber{
    color:whitesmoke;
    font-size: 20px;
    margin-bottom: 9px;
    font-weight: bold;

   
}


.__icon-container{

    background: rgb(7, 43, 17);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    height: 80px;
    width:80px;
    border-radius: 50%;
    opacity:0.8;
    /* transform:translate(0,-50%); */

    
}

.__icon-container:hover{
    cursor: pointer;
}

.card1{
    border-left: 1px solid white;

}
.footer-card{
    width: 320px;

    padding:18px 18px 18px 18px;
    margin-right: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border-top-left-radius:40px;
    border-bottom-left-radius: 12px; */
    /* filter:sepia(40%); */
   
  height:fit-content;
    mask-repeat: no-repeat;
}



#moreInfo:hover {

    cursor: pointer;
       
    } 



.icon1{
    animation:fadeIcon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.icon2{
    animation:fadeIcon;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.icon3{
    animation:fadeIcon;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.icon4{
    animation:fadeIcon;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.icon5{
    animation:fadeIcon;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.icon6{
    animation:fadeIcon;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.footer-Heading{
    
    width: fit-content;
    overflow: hidden;

    white-space: nowrap;
    animation:pencilWriter;
    animation-duration:8s;
    animation-iteration-count:infinite;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    
}


.pen{
    animation:showPen;
    animation-duration: 2s;
    visibility: hidden;
    animation-iteration-count:infinite;
    margin-left: 4px;
}

@keyframes fadeIcon {

    from {opacity:0.2}
    
}

@keyframes pencilWriter {

    from {width: 0;}

    to {width: 100%;}
}


@keyframes showPen{
    from {visibility: visible;color: rgb(65, 172, 193);}
    to{visibility: hidden;color:rgb(220, 217, 210)}
}


@keyframes changeBackground{
    from {
        background-image: url("./servicesImages/arialView.jpg");
        background-size: cover;
        mask-repeat: no-repeat;
        /* filter:grayscale(70%) */

    }

    to{
        background-image: url("./servicesImages/arialView.jpg");
        background-size: cover;
        mask-repeat: no-repeat;
        /* filter:grayscale(70%) */

    }
}




