@keyframes rotate{
    from{ background-image: url("./servicesImages/farmer.jpg");}
    to{ background-image: url("./servicesImages/femaleFarmer.jpg");}
}

.first-container{
    display:flex;
    flex-wrap: wrap;
    background-image: url("./servicesImages/femaleFarmer.jpg");
    height:580px;
    background-size: cover;
    mask-repeat: no-repeat;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.left-content{
 
backdrop-filter:blur(10px);
backdrop-filter:invert(30%);
/* backdrop-filter: grayscale(30%); */
backdrop-filter: contrast(90%);
backdrop-filter: sepia(10%);
fill-opacity: 0.2;
}

.btn-view:hover{
 background-color: rgb(3, 59, 50);
 color:#ffff;
 cursor: pointer;

}

.element{
   top:50%;
    transform:translate(0,-50%);
    position: absolute;
    font-size: 39px;
    font-weight: bold;
    width:40%;
    opacity:1;
    margin-left: 30%;
    
}

.element2{
    
     border:1px solid rgb(14, 94, 81);
     width:20px;
     height:20px;
     border-radius: 50%;
     padding:4px 4px 4px 4px
     
 }


 .element3{
    border:1px solid rgb(4, 29, 43);
    background: rgb(4, 29, 43);
    width:20px;
    height:20px;
    border-radius: 50%;
    padding:4px 4px 4px 4px
    
}

.element3:hover ,.element2:hover{
    cursor: pointer;

}

.element2:hover{
    background:rgb(127, 198, 173);
    border:1px solid rgb(127, 198, 173)
}
 ._carousel{
    top:80%;
     transform:translate(0,-50%);
     position: absolute;
     font-size: 39px;
     font-weight: bold;
     opacity:1;
     margin-left: 30%;
     display: flex;
     flex-wrap: wrap;

 }
 .dot{
    background-color: #e2b1b1;
    height: 10px;
    width:10px;
    border-radius: 50%;
 }

 .dot1{
    background-color: #ffff;
    height: 10px;
    width:10px;
    border-radius: 50%;
 }

 


