.App {
  text-align: center;
  width:fit-content
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content-body{
  height:100vh;
}

.app-header{
  height:10vh;
}

.menu-dropdown{
  background:rgb(7, 65, 7)
}




.footer-copyright{
  margin-left: 0px;

}



.home-subheading{
  border-bottom: 1px solid gold;
}


.home-subheading-dark{
  border-bottom: 1px solid gold;
  color:#a8d693
}

.menu-item:hover{
  cursor: pointer;
  /* background:rgb(104, 201, 91); */
  color:rgb(3, 46, 10)
}

.btnicon{
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;

  margin-top: 6px;
  margin-bottom: 10px;
  background:rgb(228, 235, 228);
  


  /* border-right:1px solid brown; */
}

.btnicon2{
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  margin-top: 6px;
  margin-bottom: 10px;
  background:rgb(228, 235, 228);
  


  /* border-right:1px solid brown; */
}


.dark-btnicon{
  border-radius: 50%;
  padding-top: 7px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;

  margin-top: 6px;
  margin-bottom: 10px;
  background:rgb(199, 195, 191);
 


  /* border-right:1px solid brown; */
}


.themeicon{
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
  background:rgb(1, 8, 1);
  


  /* border-right:1px solid brown; */
}

.home-description{
  margin-left: 5rem;
}
.home-span{
 border-right:1px solid rgb(235, 202, 16); 
 padding-right: 10px;
 padding-top: 2%;
padding-bottom: 3%;
 
}

.body-heading{
  margin-left:15px;
  
}

.sidebar{
  width:13rem;
  /* height:100vh; */
  background:#ffff
}

/* .sidebar-content{
  height:100vh */
/* } */
.content-body{
  display:flex;
  height:100vh;

  
}
.content-heading{
  color:rgb(8, 102, 58);
}


.content-heading-dark{
  color:rgb(98, 158, 79);
}
.c-body{

display:flex;
flex-direction: column;
}

.spanspacer{
  flex:0.9 1.9 auto;
}

.menu-toggle{
  /* margin-left: 20px; */
  color: rgb(8, 102, 58);
  cursor: pointer;
}

.fb-icon{
  color:lightgray;
}

.linkedin-icon{
  color:lightgray;
  margin-left: 10px;
}



.fb-icon:hover ,.linkedin-icon:hover{
  color:navy;
  cursor: pointer;

}

.icon{
  color:#0a0a0a
}

.header-picture{
  margin-left: 18px;
  margin-bottom: 10px;
}


.head{
  z-index: 999;
  margin-bottom: 10rem;


}

.app-body{
  overflow:auto
}

.menu-icon{
  margin-left: 10px;
}

.home-content{
  margin-top: 2%;
 
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 3%;
  /* height:80%;
  width:100%; */

  /* height:fit-content; */

}



.btn-more{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

a{
  background-color: rgb(8, 56, 7);
  color:hsl(66, 66%, 73%);
  padding:10px 20px;
  border:1px solid rgb(216, 182, 33);
  font-size: 1.3rem;
  font-family: sans-serif;
  letter-spacing: 2px;
  -webkit-clip-path:polygon(
    0% 0%, 76% 0, 100% 50%,74% 98%,0% 100%);
  
    clip-path:polygon(0% 0%, 76% 0%,100% 50%,74% 98%,0% 100%);
    
}

.heading{
  margin-left: 300px;
  font-style: italic;
  color:rgb(243, 240, 243);


}

.heading-icon{
  color: rgb(8, 102, 58);
}




.btn-more{
  margin-left: 40%;
  border:1px dashed green;
  background:rgb(247, 245, 245);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}


.btn-more-dark{
  margin-left: 40%;
  background:rgb(77, 161, 120);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;

}

.btn-more:hover,.btn-more-dark:hover{
  margin-left: 40%;
  /* border:1px dashed green; */
  background:rgb(35, 119, 56);
  color:#ffff;
  cursor: pointer;
}
.footer-icon{
 color: rgb(241, 245, 243);
  justify-content: center;
  margin-left: 2rem;
}
.footer-year{
  margin-left: 5px;
  color:rgb(166, 218, 177)
}


.menu{
  background: #ffff;
  /* border-top: 1px solid rgb(218, 201, 155); */
  width:2000px;
  /* position:fixed */
  /* padding-left: 10px; */
  /* padding-top: 5px; */
}


.menu-dark{
  background: #ffff;
  border-top: 1px solid rgb(214, 213, 210);
  width:2000px;
  /* position:fixed */
  /* padding-left: 10px; */
  /* padding-top: 5px; */
}

body{
  font-size: 12px;
}


.menu-item{
  margin-left: 15px;
  font-size: 19px;
  border-left: 1px solid rgb(233, 227, 227);
  padding-left: 7px;
  color:rgb(117, 119, 117)
}

.menu-item-dark-theme{
  margin-left: 15px;
  font-size: 19px;
  border-left: 1px solid rgb(114, 102, 102);
  padding-left: 7px;

  color:rgb(160, 156, 147);
}

.menu-item-dark-theme:hover{
  color: #ffff;
  cursor: pointer;
}

.dark-theme{

  background: rgb(51, 50, 50);
}


.carousel{
  border-radius: 3px;
  background-image:image-set('../public/logo.png')
}

.carousel-image{
  border-radius: 12px;
}

.corousel-text{
  color:rgb(5, 5, 5)
}

.carousel{

  padding-bottom: 19px;
  background:rgb(66, 64, 64);
  
}

.carousel-light{
  background:rgb(240, 243, 240);
  padding-bottom:19px;
}
.themeDarkIcon{
  color:black
}

.themeLightIcon{
  color:#ffff
}


.themeDarkIcon:hover , .themeLightIcon:hover{
  cursor: pointer;
}

.activeMenuItem{
  color: rgb(4, 99, 4);
}

.activeMenuItem-darker{
  color: rgb(119, 223, 119);
}

.backtotop:hover{
 background: rgb(89, 134, 75);
 color:#0a0a0a;
 cursor: pointer
}
